.register {
  height: 100vh;
  background: linear-gradient(to bottom, #fff9c4, #ffeb3b, #ffb300);
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    border-radius: 10px;
    min-height: 500px;
    overflow: hidden;

    .left {
      flex: 1;
      background: linear-gradient(
          to bottom,
          rgba(83, 75, 2, 0.6),
          rgba(46, 42, 2, 0.6)
        ),
        url("https://render.fineartamerica.com/images/images-profile-flow/400/images/artworkimages/mediumlarge/1/sunflower-and-red-butterfly-garry-gay.jpg"),
        center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;

      h1 {
        font-size: 50px;
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }

      p {
        font-size: 16px;
        border-top: none;
        margin-top: 0;
        padding-top: 0;
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }
      span {
        font-size: 14px;
        border-top: none;
        margin-top: 0;
        padding-top: 0;
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
      }
      button {
        width: 50%;
        margin-top: 0;
        padding: 10px;
        border: black, 5px;
        background-color: white;
        color: #f7ce02;
        font-weight: bold;
        cursor: pointer;
        border-radius: 10px;
      }
      button:hover {
        background-color: #f7ce02;
        color: black;
      }
    }

    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      justify-content: center;
      h1 {
        margin-bottom: 10px;
        color: rgba(115, 112, 56, 0.759);
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 25px;
        input {
          //   border: none;
          border: 1px solid #f7ce02;
          padding: 15px 15px;
          border-radius: 10px;
        }
        button {
          width: 50%;
          padding: 10px;
          border: black, 5px;
          background-color: #f7ce02;
          color: white;
          font-weight: bold;
          border-radius: 10px;
          cursor: pointer;
        }
        button:hover {
          color: black;
        }
      }
    }
  }
}
